SpringWebService_Server/WebContent/wsdl/ProductWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:tns1="http://entities" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entities"/>
   <element name="find">
    <complexType/>
   </element>
   <element name="findResponse">
    <complexType>
     <sequence>
      <element name="findReturn" type="tns1:Product"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://entities" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Product">
    <sequence>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="price" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findRequest">

      <wsdl:part element="impl:find" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findResponse">

      <wsdl:part element="impl:findResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductWS">

      <wsdl:operation name="find">

         <wsdl:input message="impl:findRequest" name="findRequest">

       </wsdl:input>

         <wsdl:output message="impl:findResponse" name="findResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductWSSoapBinding" type="impl:ProductWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="find">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductWSService">

      <wsdl:port binding="impl:ProductWSSoapBinding" name="ProductWS">

         <wsdlsoap:address location="http://localhost:8080/SpringWebService_Server/services/ProductWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
